<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="fadeIn">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Optio ipsa voluptas vel, saepe quibusdam maxime porro autem
    commodi deleniti fugit dolorum aut laboriosam repudiandae fugiat assumenda necessitatibus molestiae nobis quis!
    Laudantium odit provident nisi aut iusto optio magni placeat eius sit culpa sed saepe voluptate corrupti sapiente,
    obcaecati porro, quaerat quasi accusamus, consequatur architecto iure ullam repudiandae laboriosam? Sit, facere?
    Amet, sequi fugit? Minima temporibus a dolore blanditiis magni libero dolores mollitia facere incidunt aliquid fuga
    et consectetur quod ex, optio veniam eius quia perferendis tenetur vel ipsum corporis reiciendis.</p>