<div class="card container mb-3 animated fadeIn fast">
    <img [src]="heroe.img" width="auto" height="400px%" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.aparicion}}</p>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text">{{heroe.casa}}</p>
        <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div>
        <img *ngIf="heroe.casa == 'Marvel'" src="assets/img/marvel-logo.png" alt="Marvel" >
        <img *ngIf="heroe.casa == 'DC'" src="assets/img/marvel-logo.png" alt="DC" >
    </div>
</div>